.App {
  text-align: center;
}
body{
      font-family: 'Josefin Sans', sans-serif;
}
img{
  height: 250px;
}
body {
  background: linear-gradient(90deg, #ecf1f6, #e9f5f8, #d9f0f4, #caf1f7);

}


.studentProfile{
  z-index: 1;
  width: 120px;
  height: 120px;
  margin-top: -75px;
  position: relative;
  
  display: block;
  margin-left: auto;
  margin-right: auto; 
  border: 5px solid #f9f3f3; 
}

.studentCard{
  border-radius: 5%;


}
.a{
    margin: 0;
  padding: 0;
  background-image:url("https://img.freepik.com/premium-vector/flat-illustration-design-cybersecurity_9206-2585.jpg?size=626&ext=jpg&ga=GA1.2.1311701072.1691690137&semt=sph");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.inputs{
  border: 1px solid black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
:link{
  text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text {
  font-size: 5em;
  letter-spacing: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(25);
  animation-duration: 5s;
  animation-iteration-count: 5;
  text-transform: uppercase;
  cursor: pointer;
}
@keyframes typing {
  from {
    width: 0;
  }
}    

